.toggle-switch {
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: #d3d3d3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.toggle-switch.on {
    background-color: #32cd32;
}
.toggle-knob {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    transform: translateX(0);
}
.toggle-switch.on .toggle-knob {
    transform: translateX(60px);
}
.toggle-status.on {
    color: #32cd32;
}
.icon {
    font-size: 20px;
    color: #555;
}
.toggle-switch.on .icon {
    color: #32cd32;
}
.toggle-country, .toggle-ip {
    text-align: center;
}