@import "variables";

@mixin component(){
    padding: 1.5rem;
    background-color: $secondary-color;
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

