$primary-color: #222222;
$secondary-color: #2b2b2b;
$inactive-color: #8c8c8c;
$text-primary-color: #ffffff;


$thirdy-color: #b30e76;
$text-secondary-color: #adadad;

$base-font-family: "Arian2", Helvetica, sans-serif;

$font-primary: "Arian2", Helvetica, sans-serif;
$fsize-text: 1rem;
$fsize-title: 1.5rem;
$tcolor-primary: #ffffff;
$tcolor-secondary: #d4d4d4;
$tcolor-border: #b30e76;
$width-body: 90rem;

$glass-bg: rgba(255, 255, 255, 0.1);  // Semi-transparent background
$border-color: rgba(255, 255, 255, 0.4);  // Border color for glass effect
$blur-amount: 10px;  // Blur intensity
$border-radius: 20px;  // Rounded corners
$shadow-color: rgba(0, 0, 0, 0.2);  // Soft shadow