@import '../base/variables';
@import '../components/toggleSwitch';

.main-controls {
  align-content: center;
  text-align: center;
  margin-top: 65px;
}
.traffic {
  color: white;
  margin: 35px 0;
  .traffic-proxy {
    display: flex;
    width: 275px;
    margin: 0 auto;
    background-color: $secondary-color;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    .traffic-proxy_download, .traffic-proxy_upload {
      p {
        text-align: center;
        font-size: 15px;
      }
      .traffic-title {
        margin-top: 8px;
      }
      .traffic-speed {
        width: 130px;
        margin-bottom: 8px;
      }
      position: relative;
    }
    .traffic-proxy_download {
      margin: 15px 0 15px auto;
    }
    .traffic-proxy_upload {
      margin: 15px auto 15px 0;
    }
    .traffic-proxy_download::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      width: 2px;
      background-color: #373737;
    }
  }
}
.disable-routes {
  text-align: center;
  margin-top: auto;
  margin-bottom: 15px;
  color: white;
  input {
    margin-right: 5px;
  }
}