@import '../base/variables';

.log-program {
  width: 87.5%;
  height: 100%;
  margin: 0 auto;
  p {
    color: white;
    font-size: 12px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: monospace;
    background-color: $secondary-color;
    border: 0;
    padding: 15px;
    border-radius: 15px;
    white-space: pre-wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
}