@import '../base/variables';
@import '../components/modeSwitch';

.mode-list {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 15px;
  .black-list, .white-list {
    margin: 0 7.5px;
  }
  span.inactive {
    color: $inactive-color;
  }
}
.routes {
  display: table;
  margin: 0 auto;
  .routes-domain, .routes-ip, .routes-port {
    display: flex;
    section {
      margin: 0 7.5px 15px 7.5px;
      &.inactive {
        opacity: 0.5;
      }
      textarea {
        width: 225px;
        height: 125px;
        resize: none;
        background-color: $secondary-color;
        border: 0;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        font-size: 14px;
      }
      .routes-action {
        margin-top: 7.5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        input {
          width: 185px;
          height: 35px;
          background-color: $secondary-color;
          outline: none;
          border: 0;
          border-radius: 10px 0 0 10px;
          padding-left: 7.5px;
          font-size: 14px;
        }
        a {
          padding: 9px 9px;
          background-color: $secondary-color;
          outline: none;
          border: 0;
          &.active {
            cursor: pointer;
          }
        }
        a.routes-del {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
  .routes-port {
    section {
      textarea {
        height: 35px !important;
      }
    }
  }
}